# .env.example

# URL de conexión a la base de datos (Asegúrate de actualizar con tus credenciales)
DATABASE_URL="postgres://<usuario>:<contraseña>@<host>:<puerto>/<base_de_datos>"

# Clave secreta para JWT (Genera una clave segura para tu aplicación)
JWT_SECRET="<tu_jwt_secret_aqui>"

# Clave secreta para el refresco de JWT (Genera una clave diferente a la anterior)
JWT_REFRESH_SECRET="<tu_jwt_refresh_secret_aqui>"